.primaryBtn {
    background-color: #16a0b6 !important;
    border-color: #16a0b6 !important;
    color: #fff !important;

    &:hover , &:focus{
        box-shadow: none !important;
    }
}

.form_wrapper {    
    padding: 20px;

    & input {
        color: #333 !important;
    }

    & label {
        color: #333;
        font-weight: bold;
    }

}
.resources {

    & th {
        font-weight: bold;  
        min-width: 100px;
        line-height: 15px;
        background-color: #eee;  
    }

}

.table_container {
    border-radius: 0px !important;
}

.toolbar_buttons {
    align-self: center;
    right: 10px;
    position: absolute;
    .add_entry {
        background: #fff;

        &:focus ,&:hover  {
            background-color: #fff !important;
        }
    }
}
