.primaryBtn {
    background-color: #16a0b6 !important;
    border-color: #16a0b6 !important;
    color: #fff !important;

    &:hover , &:focus{
        box-shadow: none !important;
    }
}

.form_wrapper {    
    padding: 20px;

    & input {
        color: #333 !important;
    }

    & label {
        color: #333;
        font-weight: bold;
    }

}
.resources {
    display: grid;

    & th {
        font-weight: bold;  
        font-size: 11px;
        line-height: 13px;  
    }
}