.primaryBtn {
    background-color: #16a0b6 !important;
    border-color: #16a0b6 !important;
    color: #fff !important;

    &:hover , &:focus{
        box-shadow: none !important;
    }
}

.form_wrapper {    
    padding: 20px;

    & input , label {
        color: #333;
    }

    & label {
        font-weight: bold;
    }

}

.resources th {
    font-weight: bold;    
}
